[user]
	name = Santi Guillén
[core]
	excludesfile = ~/.gitignore_global
[commit]
	gpgSign = true
[gpg]
	program = /usr/local/bin/gpg
[pager]
	branch = false
	diff = true
	log = false
	show = false
	status = false
[push]
    autoSetupRemote = true
[pull]
	rebase = true
[init]
	defaultBranch = main